<div class="main-container">
    <!-- <input ngx-google-places-autocomplete #placesRef="ngx-places" (onAddressChange)="handleAddressChange($event)"/> -->
    <input class="input-field" matInput placeholder="Location" value="Sushi" (keyup.enter)="addData()"
        [(ngModel)]="fieldValue">
    <div class="list-container">
        <span *ngIf="listOfValues[0]" class="list-item"><button class="button-item" mat-button color="primary"
                (click)="removeData(listOfValues[0])">x</button>{{listOfValues[0]}}</span>
        <span *ngIf="listOfValues[1]" class="list-item"><button class="button-item" mat-button color="primary"
                (click)="removeData(listOfValues[1])">x</button>{{listOfValues[1]}}</span>
        <button *ngIf="listOfValues.length>2" mat-button (click)="openlist()">Menu</button>
        <mat-menu #loclist="matMenu" *ngFor="let item of listOfValues">
            <span *ngIf="listOfValues[0]" class="list-item"><button class="button-item" mat-button color="primary"
                (click)="removeData(item)">x</button>{{item}}</span>
        </mat-menu>
    </div>
</div>
<router-outlet></router-outlet>